{
  "presets": [
    ["env",       {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 7"]
      },
      "modules": false
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-es3-property-literals",
    "transform-es2015-modules-simple-commonjs"
  ],
  "comments": false,
  "env": {
    "production": {
    }
  }
}
