$normal-orange: #ff6b38 !default;

$normal-white: #FFFFFF !default;
$back-white: #F3F3F3 !default;
$disabled-white: #EBEBEB !default;
$footer-white: #82858a !default;

$normal-grey: #CCCCCC !default;
$light-grey: #E7E7EB !default;
$strong-grey: #666666 !default;

$normal-black: #333333 !default;
$footer-black:#21252B !default;

$normal-red: #E2192C !default;
