.footer {
  width: 100%;
  min-width: 900px;
  color: $footer-white;
  background-color: $footer-black;
  text-align: center;
  @media screen and (max-width: $min-width) {
    min-width: unset;
  }
  &__copyright {
    height:65px;
    line-height: 65px;
    font-size: 16px;
    align-content: center;
    @media screen and (max-width: $min-width) {
      height: 40px;
      line-height: 40px;
      font-size: 0.16rem;
      overflow: hidden;
    }
  }
}
