.main {
  min-width: 900px;
  @media screen and (max-width: $min-width) {
    min-width: unset;
  }
  .home {
    font-size: 0;
    &__img {
      width: 100%;
    }
  }

  .page {
    max-width: 1176px;
    min-width: 900px;
    margin: 30px auto;
    background-color: $normal-white;
    border: 1px solid $light-grey;
    @media screen and (max-width: $min-width) {
      min-width: unset;
      margin: 0;
      background-color: $back-white;
    }
    &__nav {
      display: inline-block;
      width: 17.8571429%;
      vertical-align: top;
      padding: 40px 0;
      @media screen and (max-width: $min-width) {
        display: block;
        width: 100%;
        padding: 0;
        border-bottom: 1px solid $light-grey;
        margin-bottom: 0.2rem;
      }
      &__link {
        height: 50px;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
        &.active {
          color: $normal-white;
          background-color: #DF1428;
          background: radial-gradient(#DF1428,#ED2C39); /* 标准的语法 */
        }
        @media screen and (max-width: $min-width) {
          display: inline-block;
          width: 50%;
          height: 0.8rem;
          line-height: 0.8rem;
          font-size: 0.3rem;
          background: $normal-white;
          &.active {
            background: $normal-white;
            color: #DF1428;
          }
        }
      }
    }
    &__content {
      display: inline-block;
      width: 81.972789%;
      min-height: 1000px;
      vertical-align: top;
      border-left: 1px solid $light-grey;
      @media screen and (max-width: $min-width) {
        width: 100%;
        min-height: 100vh;
        background: $normal-white;
      }
      .section {
        padding: 40px 30px;
        @media screen and (max-width: $min-width) {
          padding: 0.3rem;
        }
        &__title {
          font-size: 20px;
          font-weight: bold;
          color: $normal-black;
          margin-bottom: 30px;
          @media screen and (max-width: $min-width) {
            font-size: 0.3rem;
            margin-bottom: 0.2rem;
          }
        }
        &__line {
          width: 100%;
          height: 2px;
          background-color: $light-grey;
          margin-bottom: 15px;
          .head {
            position: absolute;
            height: 2px;
            width: 73px;
            background-color: $normal-red;
            @media screen and (max-width: $min-width) {
              width: 1.3rem;
            }
          }
        }
        &__article {
          line-height: 25px;
          @media screen and (max-width: $min-width) {
            font-size: 0.25rem;
            line-height: 0.35rem;
          }
        }
      }
    }
  }
}
